[local]
tx_ip=127.0.0.1
tx_port=6389
bind_all=on
core_number=4
checkpoint_interval=10
node_memory_limit_mb=28192
enable_data_store=true
enable_wal=true
eloq_data_path=/home/ubuntu/workspace/eloqsql_data
event_dispatcher_num=1
auto_redirect=on
txn_isolation_level=RepeatableRead
txn_protocol=OCC
aws_access_key_id=minioadmin
aws_secret_key=minioadmin
txlog_rocksdb_cloud_endpoint_url=http://127.0.0.1:9000
maxclients=1000

[cluster]
tx_ip_port_list=127.0.0.1:6389

[store]
#rocksdb_cloud_s3_endpoint_url=http://127.0.0.1:9000
#aws_access_key_id=minioadmin
#aws_secret_key=minioadmin
